.greetingWrapper {
  max-width: 700px;
  margin-top: 100px;
  margin-left: 755px;
}

.greetingHeader {
  text-align: right;
  color: white;
}

.greetingText {
  margin-top: 110px;
  text-align: right;
  line-height: 2;
  color: white;
}