.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 22px;
  font-weight: 700;
  /* color: #2a363b; */
  color: aqua;
}

.link:hover,
.link:focus {
  color: #e84a5f;
}

